body {
    font-family: Garamond, sans-serif;
    margin: 20px;
    width: 100%;
    height: 100vh;
    background-image: url(/floralbg.jpg);
    background-size: stretch;
    background-position: center;
}

#drink-title {
    font-size: large;
    font-weight: bold;
}

#app {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 3px solid grey;
    border-radius: 10px;
}

#main-title {
    text-align: center;
}

#item-list {
    list-style-type: none;
    padding: 0;
}

.item {
    background-color: #F0F0F0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    display: block;
    margin: 10px 0;
}

.cocktail {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#strawb-gin {
    background-color: pink;
}

#old-fashioned {
    background-color: chocolate;
}

#agave-mojito {
    background-color: lightgreen;
}

.rating {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

#comment-section {
    max-width: 1000px;
    margin: auto;
    padding-top: 5px;
    ;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#newsletter {
    margin: auto;
    text-align: center;
}